.container{
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    width: 500px;
    height: 500px;
}

#left{
    float:left;
    width:100px;
    height: 100px;
    vertical-align: left;
}

#center{
    margin:0 auto;
    width:100px;
    align ;
}

#feed{
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
}